*.egg-info
*.pyc
*.bak
*.o
*.cmd
*.iml
Module.symvers
modules.order
*~
tags
build/
dist/
.ropeproject/
wa_output/
doc/source/api/
doc/source/extensions/
MANIFEST
wlauto/external/uiauto/**/build/
wlauto/external/uiauto/*.properties
wlauto/external/uiauto/app/libs/
wlauto/external/uiauto/app/proguard-rules.pro
wlauto/external/uiauto/**/.gradle
wlauto/external/uiauto/**/.idea
*.orig
local.properties
wlauto/external/revent/libs/
wlauto/external/revent/obj/
wlauto/external/bbench_server/libs/
wlauto/external/bbench_server/obj/
pmu_logger.mod.c
.tmp_versions
obj/
libs/armeabi
wlauto/workloads/*/uiauto/**/build/
wlauto/workloads/*/uiauto/*.properties
wlauto/workloads/*/uiauto/app/libs/
wlauto/workloads/*/uiauto/app/proguard-rules.pro
wlauto/workloads/*/uiauto/**/.gradle
wlauto/workloads/*/uiauto/**/.idea
