global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: multiapp
        params:
            recipient: {{recipient}}
            login_name: {{login_name}}
            login_pass: {{login_pass}}
            contact_name: {{contact_name}}
            dumpsys_enabled: {{dumpsys_enabled}}
