global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: reader
        params:
            email: {{email}}
            password: {{password}}
            document_name: {{document_name}}
            first_search_word: {{first_search_word}}
            second_search_word: {{second_search_word}}
            dumpsys_enabled: {{dumpsys_enabled}}
