global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: skype
        params:
            login_name: {{login_name}}
            login_pass: {{login_pass}}
            contact_skypeid: {{contact_skypeid}}
            contact_name: {{contact_name}}
            duration: {{duration}}
            action: {{action}}
            dumpsys_enabled: {{dumpsys_enabled}}
