global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: googleplaybooks
        params:
            search_book_title: {{search_book_title}}
            search_word: {{search_word}}
            dumpsys_enabled: {{dumpsys_enabled}}
