global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: powerpoint
        params:
            slide_template: {{slide_template}}
            title_name: {{title_name}}
            dumpsys_enabled: {{dumpsys_enabled}}
