global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: powerpoint
        params:
            test_type: {{test_type}}
            slide_template: {{slide_template}}
            title_name: {{title_name}}
            dumpsys_enabled: {{dumpsys_enabled}}

    -   id: {{workload_id}}
        name: powerpoint
        params:
            test_type: {{test_type}}
            transition_effect: {{transition_effect}}
            number_of_slides: {{number_of_slides}}
            dumpsys_enabled: {{dumpsys_enabled}}
